language: php
sudo: false

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

env:
  global:
    - TEST_COMMAND="vendor/bin/phpunit --verbose --coverage-text"

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3

matrix:
  include:
    - php: 7.2
      name: Backward compatibillity check
      env: DEPENDENCIES="roave/backward-compatibility-check" TEST_COMMAND="./vendor/bin/roave-backward-compatibility-check"

before_install:
    - if ! [ -z "$DEPENDENCIES" ]; then composer require --no-update ${DEPENDENCIES}; fi;

install:
  - travis_retry composer install --no-interaction

script:
  - $TEST_COMMAND
