parameters:
    checkMissingIterableValueType: false

    level: 6
    paths:
        - lib

    ignoreErrors:
        # Ignore typehint errors on api classes
        -
            message: '#Method (.*) with no typehint specified\.#'
            path: lib/Github/Api
        -
            message: '#Method (.*) has no return typehint specified\.#'
            path: lib/Github/Api

        -
            message: '#(extends|Instantiation of|typehint with) deprecated class Github\\Api\\#'
            path: lib/Github/Api
