parameters:
    checkMissingIterableValueType: false

    level: 6
    paths:
        - lib

    ignoreErrors:
        # Ignore typehint errors on api classes
        -
            identifier: missingType.return
            path: lib/Github/Api

        -
            identifier: missingType.parameter
            path: lib/Github/Api
