name: "BC check"

on:
    pull_request:

jobs:
    roave_bc_check:
        name: "Roave BC check"
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: Roave BC Check
                uses: docker://nyholm/roave-bc-check-ga
                with:
                    args: --from=${{ github.event.pull_request.base.sha }}
